Notification {
    color: #ffffff;
    border: 1px solid #1b1b1b;
    border-radius: 4px;
    background: #353535;
    margin: 0px;
}

QLabel {
    color: #ffffff;
}

#closeButton {
    border: none;
    qproperty-icon: url(lxqt-notificationd/cancel.svg);
}

#closeButton:hover {
    border: 1px solid #1b1b1b;
    border-radius: 4px;
    background: #353535;
    qproperty-icon: url(lxqt-notificationd/cancel.svg);
}

#appLabel {
    font-weight: bold;
}
